body{background-color: #C4EDF5}
h1 {
font-size: 40px;
color: teal;
}
h2{
color: #2C3E50;
}
.big {
font-size: 90px
}
.uppercase{
text-transform: uppercase;
}

.rightalign{
text-align: right;
}
.centeralign{
	text-align: center;
}